# Default ignored files
/venv/*
.DS_Store
# Skip the Intellij's project specific settings files
.idea
# Byte-compiled / optimized / DLL files
__pycache__/
# Environment variables for database connection
.env
# Pytest cache files
.pytest_cache