# Default ignored files
/venv/*
.DS_Store
# Skip the Intellij's project specific settings files
.idea
# Byte-compiled / optimized / DLL files
__pycache__/
# Environment variables for database connection
.env
# Client Secret for Google Auth
client_secrets.json
# Pytest cache files
.pytest_cache
# Uploaded Resources
/uploaded_resources
# Google Resources
/google_resources