.job-record-data {
  color: #212529;
  font-size: 1rem;
}

.metric-title,
.job-record-label,
.tag-label,
.current-year-percentage{
  color: 	#808080;
}
.tag-num-label{
  color: darkgoldenrod;
  font-size: 1.2rem;
  margin-bottom: 7px;
  font-weight: bold;
}
.list-group-item{
  margin-bottom: 0px;
}

.last-row .card {
  margin-bottom: 30px;
}

.upcoming-events-table-container,
.job-table-container {
  height: 28rem;
  overflow-y: auto;
}
.upcoming-events-table-container {
  height: 20rem;
}
.table-responsive {
  width: 100%; /* make the table fill the container */
}

/* CAROUSEL */
.carousel {
  position: relative;
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  right: 0;
}
