.job-record-data {
  color: #212529;
  font-size: 1rem;
}

.metric-title,
.job-record-label,
.tag-label,
.current-year-percentage{
  color: 	#808080;
}
.tag-num-label{
  color: darkgoldenrod;
  font-size: 1.2rem;
  margin-bottom: 7px;
  font-weight: bold;
}
.list-group-item{
  margin-bottom: 0px;
}

.last-row .card {
  margin-bottom: 30px; /* Add your desired margin value here */
}

/* Job Records Table Style */
.chart-canvas {
  display: block;
  box-sizing: border-box;
  height: 650px;
  width: 803px;
}

.upcoming-events-table-container,
.job-table-container {
  height: 400px; /* set the height of the container */
  overflow-y: auto; /* Enable vertical scrolling */
}
.table-responsive {
  width: 100%; /* make the table fill the container */
}
