.pt-3-half {
    padding-top: 1.4rem;
  }

.btn-green {
  background-color: lightseagreen;
  color: white;
}

.sign-blue {

  color: blue;
}

.card-content{
  align-content: center;
}

.icon {
  margin-right: 100%;
}

.scrollable {
  overflow-x: auto;
  overflow-y: auto;
}

li:hover {
  background-color: lightblue;
  }

  li {
    list-style-type: none;
  }

td ul {
  display: inline-block;
  align-items: center;
  padding: 10px;
  margin: 0;
}

td li {
  list-style: none;
}

.customUl {
  max-height: 100px; 
  overflow-y: auto; 
  position: absolute; 
  z-index: 999; 
  background-color: #F0F8FF;
}

.btn_type {
  width: 130px;
  height: 40px;
  font-size: 10px;
}

table{
  border-collapse: collapse;
  border: solid 0px;
  border-left: none;
  border-right: none;
  border-color: lightgray;
}

tr:hover {
  background-color: rgb(235, 233, 233);
}